<style>
@media only screen and (max-width: 628px){
.comp {
    margin-top: 19px;
}
}
</style>


<div class="page page-typography">




  <!-- page header -->
  <div class="pageheader">

    <h2>{{page.title}} <span>// {{page.subtitle}}</span></h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a href="javascript:;">UI Kit</a>
        </li>
        <li>
          <a ui-sref="app.ui.typography">{{page.title}}</a>
        </li>
      </ul>

    </div>

  </div>
  <!-- /page header -->






  <!-- page content -->
  
  <div class="pagecontent">


    <!-- row -->
    <div class="row">


      <!-- col --> 
      <div class="col-md-12">

        <!-- tile -->
        
        <!-- /tile -->
<section class="tile" fullscreen="isFullscreen01">
		
		<div class="tile-body">

          <!-- tile header -->
           
		 
		 
		<form class="form-horizontal" role="form"> 
			<h2 class="md-title" style="margin-bottom:20px">Add New User</h2>
              <div class="form-group">
              <div class="col-sm-6">
                <label for="inputEmail3" class="control-label">First Name</label>
               
                  <input type="text" class="form-control" id="" placeholder="">
                 
                
              </div>
              
			  <div class="col-sm-6 comp">
                <label for="inputPassword3" class="control-label">Last Name</label>
               
                  <input class="form-control"  id="" type="text" placeholder="">
                
                </div>
              </div>
               <div class="form-group">
              <div class="col-sm-12">
                <label for="inputEmail3" class="control-label" >Email </label>
                
                  <input class="form-control" id="inputEmail3" type="email" placeholder="">
                 
              
              </div>
              
			  
              </div>
               <div class="form-group">
			   <div class="col-sm-6 ">
                <label for="inputPassword3" class=" control-label">Role</label>
                
                  <input type="text" class="form-control" id="inputEmail3" placeholder="">
                
                </div>
               <div class="col-sm-6 comp">
                <label for="inputEmail3" class="control-label">Profile</label>
                 
                  <select name="" class="form-control mb-10" required>
                    <option selected>Select</option>
                    <option>Administrator</option>
				  <option>Manager</option>
				   
                  </select>
                 
             
              
              
			 
              </div>
			  
              </div>
			  <div class="form-group">
              <div class="col-sm-12">
                <label for="inputEmail3" class="control-label" >Territory </label>
                
                  <input class="form-control"  type="text" placeholder="">
                 
              
              </div>
              
			  
              </div>
			   <div class="form-group">
               <div class="col-sm-12">
		  
          <div class="tile-body p-15 pull-right">
		  <button type="button" class="btn btn-danger mb-10 mr-10">Cancel</button>
		  <button type="submit" ng-disabled="step5.$invalid" class="btn btn-success pull-right" style="background:#58D68D">Save</button>
		  
		  </div>
</div>
</div>

            </form> 
		 
		 
		 
		 
		 
		 
		 
		 </div>
		 
          
        </section>
        <!-- /tile -->

       
      
    </div>
 
  
  </div>
  <!-- /page content -->




</div>
</div> 

