<style>
@media screen and (max-width: 768px)
 
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    visibility:hidden!important
}
</style>
<div class="page page-datatables">




  <!-- page header -->
  <div class="pageheader">

    <h2>{{page.title}} <span>// {{page.subtitle}}</span></h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a href="javascript:;">Tables</a>
        </li>
        <li>
          <a ui-sref="app.tables.datatables">{{page.title}}</a>
        </li>
      </ul>

    </div>

  </div>
  <!-- /page header -->






  <!-- page content -->
  <div class="pagecontent">


    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-md-12">

 
<section class="tile" fullscreen="isFullscreen02">

          <!-- tile header -->
          <div class="tile-header media emdbtitle">
            <div class="pull-left thumb  col-md-2 col-xs-1">
                <img class="media-object img-circle" src="images/ici-avatar.54b0e928.jpg" alt="">
              </div>
			  <div class="mb-0 mt-10 col-md-8 col-xs-8">
                  <strong style="color:#fff">First Name</strong> <span style="color:#fff">Last Name</span> <strong id="emdbid">EM1234567891</strong>
                </div>
            <ul class="controls shareemdb col-md-2 col-xs-3 col-sm-2">
              <li class="dropdown" uib-dropdown on-toggle="toggled(open)">

                <a href ><i class="fa fa-share-alt"></i></a>

                

              </li>
              <li class="remove"><a href ><md-icon md-font-icon="zmdi zmdi-comment" ng-click="doSecondaryAction($event)" aria-label="Open Chat" class="md-secondary md-hue-3" ng-class="{'md-primary': person.newMessage}" style="color: rgb(149, 162, 169)!important;"></md-icon></a></li>
            </ul>
          </div>
          <!-- /tile header -->

          <!-- tile body -->
          <div class="tile-body p-0" style="padding-top:20px!important ;">

            <table class="table emdbdetails">
               
              <tbody>
			   <tr>
                  <th>Company</th>
                  <td>technodrive</td>
                </tr>
                <tr>
                  <th>Phone</th>
                  <td>1234 567 789</td>
                </tr>
                <tr>
                  <th>Fax</th>
                  <td>12345678</td>
                </tr>
                <tr>
                  <th>Email</th>
                  <td>info@technodrive.com</td>
                </tr>
				<tr>
                  <th>Address</th>
                  <td>920, Holcomb Bridge Road, Suite # 410, Roswell, GA 30076920</td>
                </tr>
				<tr>
                  <th>Rating</th>
                  <td><div ng-init="x = 3" class="mb-10"><uib-rating ng-model="x" max="5" state-on="'fa fa-star text-orange text-lg'" state-off="'fa fa-star-o text-lg'"></uib-rating> <b>({{x}})</b></div></td>
                </tr>
				<tr>
                  <th>Comments</th>
                  <td>
	  <div class="col-md-6" style="padding-left:0px!important">
<div class="carousel slide" id="myCarousel">
  <div class="carousel-inner">
    <div class="item active">
      <div class="col-md-4 col-xs-4" style="border: 1px solid #ccc;"><p style="padding-top:5px">920, Holcomb Bridge Road, Suite # 410, Roswell<p></div>
    </div>
    <div class="item">
      <div class="col-md-4  col-xs-4" style="border: 1px solid #ccc;"><p style="padding-top:5px">920, Holcomb Bridge Road, Suite # 410, Roswell<p></div>
    </div>
     <div class="item">
      <div class="col-md-4  col-xs-4" style="border: 1px solid #ccc;"><p style="padding-top:5px">920, Holcomb Bridge Road, Suite # 410, Roswell<p></div>
    </div>
	<div class="item">
      <div class="col-md-4  col-xs-4" style="border: 1px solid #ccc;"><p style="padding-top:5px">920, Holcomb Bridge Road, Suite # 410, Roswell<p></div>
    </div>
	<div class="item">
      <div class="col-md-4  col-xs-4" style="border: 1px solid #ccc;"><p style="padding-top:5px">920, Holcomb Bridge Road, Suite # 410, Roswell<p></div>
    </div>
  </div> 
</div>
</div>

	  
	  
	  
	  
	  
	  
	  </td>
                </tr>
              </tbody>
            </table>

          </div>
		  <div class="tile-body p-15">
		  <button type="button" class="btn btn-success mb-10">Add</button>
		  <button type="button" class="btn btn-danger mb-10">Remove</button>
		  </div>
          <!-- /tile body -->

        </section>

        <!-- tile -->
        
        <!-- /tile -->



      </div>
      <!-- /col -->
    </div>
    <!-- /row -->



  </div>
  <!-- /page content -->




</div>
<script>
$('#myCarousel').carousel({
  interval: 4000
})

$('.carousel .item').each(function(){
  var next = $(this).next();
  if (!next.length) {
    next = $(this).siblings(':first');
  }
  next.children(':first-child').clone().appendTo($(this));
  
  if (next.next().length>0) {
    next.next().children(':first-child').clone().appendTo($(this));
  }
  else {
  	$(this).siblings(':first').children(':first-child').clone().appendTo($(this));
  }
});
</script>