<div class="page page-tiles">

<div class="pageheader">

    <h2>{{page.title}} <span>// {{page.subtitle}}</span></h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a href="javascript:;">UI Kit</a>
        </li>
        <li>
          <a ui-sref="app.ui.tiles">{{page.title}}</a>
        </li>
      </ul>

    </div>

  </div>
  <div class="pagecontent">
  <div class="row">

 
      <!-- col --> 
      <div class="col-md-12">
  <section class="tile tile-simple">

          <!-- tile body -->
          <div class="tile-body p-20">
 
                  <form class="profile-settings">
<div class="">
<h2 class="md-title companytitle  pull-left" style="display:inline">Upload Resume</h2>
					
					
                     
</div>
                    <div class="row" style="display:block;clear:both">
                    

                      
                      <div class="tile-body col-md-4" style="padding-top:20px!important ;">

            <div class="form-group">
          
          <input ui-jq="filestyle" type="file" class="filestyle" ui-options="{
            buttonText: 'Select file',
            iconName: 'fa fa-inbox'
          }" nv-file-select="" uploader="uploader"
		  >
		  <label class="control-label mt-20">Supported formates .doc, .docx, .rtf,

.pdf, .json, .zip</label>
        </div>

          </div>
                   <div class="col-md-3"></div>   

                    </div>

                  
                  </form>
 

          </div>
          <!-- /tile body -->

        </section>


</div>
</div>
</div>
</div>

