
<div class="page page-profile">




  <!-- page header -->
  <div class="pageheader">

    <h2>{{page.title}} <span>// {{page.subtitle}}</span></h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a href="javascript:;">Extra Pages</a>
        </li>
        <li>
          <a ui-sref="app.pages.profile">{{page.title}}</a>
        </li>
      </ul>

    </div>

  </div>
  <!-- /page header -->






  <!-- page content -->
  <div class="pagecontent">


    <!-- row -->
    <div class="row">






      <!-- col -->
      
      <!-- /col -->






      <!-- col --> 
      <div class="col-md-12">

        <!-- tile -->
        <section class="tile tile-simple">

          <!-- tile body -->
          <div class="tile-body p-20">

		  
		  <div class="wrap-reset">

                  <form class="profile-settings">
<div class="">
<h2 class="md-title companytitle  pull-left" style="display:inline">Profile Info</h2>
					<a href="http://harikadesigns.herokuapp.com/emdb%202017/#/app/pages/timeline" class="pull-right"><i class="fa fa-edit compicon"></i></a> 
                     
</div>
                    <div class="row" style="display:block;clear:both">
                    

                      <div class="tile-body p-0" style="padding-top:20px!important ;">

            <table class="table emdbdetails">
               
              <tbody>
			   <tr>
                  <th width="20%">Name</th>
                  <td  width="80%">Technodrive</td>
                </tr>
                <tr>
                  <th>Phone</th>
                  <td>1234 567 789</td>
                </tr>
                <tr>
                  <th>Fax</th>
                  <td>12345678</td>
                </tr>
                <tr>
                  <th>Email</th>
                  <td>info@technodrive.com</td>
                </tr>
				<tr>
                  <th>Address</th>
                  <td>920, Holcomb Bridge Road, Suite # 410, Roswell, GA 30076920</td>
                </tr>
				<tr>
                  <th>Logo</th>
                  <td>  <img src="">
             </td>
                </tr>
				  
              </tbody>
            </table>

          </div>
                      

                    </div>

                  
                  </form>

                </div>
		  

          </div>
          <!-- /tile body -->

        </section>
        <!-- /tile -->

		
		
		 
		
		<section class="tile tile-simple">

          <!-- tile body -->
          <div class="tile-body p-20">

		  
		  <div class="wrap-reset">

                  <form class="profile-settings">
				  <div class="">
<h2 class="md-title companytitle  pull-left" style="display:inline">Summary Info</h2>
					<a href="http://harikadesigns.herokuapp.com/emdb%202017/#/app/pages/timeline" class="pull-right"><i class="fa fa-edit compicon"></i></a> 
                     
</div>
                    <div class="row" style="display:block;clear:both">

                      <p style="text-align:justify;padding:20px 20px 0px 20px">920, Holcomb Bridge Road, Suite # 410, Roswell, GA 30076920920, Holcomb Bridge Road, Suite # 410, Roswell, GA 30076920920, Holcomb Bridge Road, Suite # 410, Roswell, GA 30076920920, Holcomb Bridge Road, Suite # 410, Roswell, GA 30076920920, Holcomb Bridge Road, Suite # 410, Roswell, GA 30076920920, Holcomb Bridge Road,</p>
                      

                    </div>

                  
                  </form>

                </div>
		  

          </div>
          <!-- /tile body -->

        </section>
		
		
		<section class="tile tile-simple">

          <!-- tile body -->
          <div class="tile-body p-20">

		  
		  <div class="wrap-reset">

                  <form class="profile-settings">
				  <div class="">
<h2 class="md-title companytitle  pull-left" style="display:inline">Legal Authority</h2>
					<a href="http://harikadesigns.herokuapp.com/emdb%202017/#/app/pages/timeline" class="pull-right"><i class="fa fa-edit compicon"></i></a> 
                     
</div>
                    <div class="row" style="display:block;clear:both">
 

                      <div class="tile-body p-0" style="padding-top:20px!important ;">

            <table class="table emdbdetails">
               
              <tbody>
			   <tr>
                  <th width="20%">Name</th>
                  <td width="80%">Sujith</td>
                </tr>
                <tr>
                  <th>Phone</th>
                  <td>1234 567 789</td>
                </tr>
                 <tr>
                  <th>Email</th>
                  <td>info@technodrive.com</td>
                </tr>
				 	 
              </tbody>
            </table>

          </div>
                      

                    </div>

                  
                  </form>

                </div>
		  

          </div>
          <!-- /tile body -->

        </section>
		
		
		
		
      </div>
      <!-- /col -->











    </div>
    <!-- /row -->



  </div>
  <!-- /page content -->




</div>
