<div class="page page-material">




  <!-- page header -->
  <div class="pageheader">

    <h2>{{page.title}} <span>// {{page.subtitle}}</span></h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a href="javascript:;">Material UI</a>
        </li>
        <li>
          <a ui-sref="app.material.autocomplete">{{page.title}}</a>
        </li>
      </ul>

    </div>

  </div>
  <!-- /page header -->






  <!-- page content -->
  <div class="pagecontent">

    <div flex layout="column">

      <section class="demo-container md-whiteframe-z1">

        <div class="tile-header media emdbtitle">
            
			  <div class="mb-0 col-md-8 col-xs-8">
                  <strong style="color:#fff;text-align:center">Hot List</strong>  <strong id="emdbid">JAVA</strong>
                </div>
            
          </div>
<h2 class="md-title col-md-8 col-xs-8" style="margin-bottom:20px">Choose Candidates</h2>
        <md-content class="md-padding autocomplete chipsdemoContactChips" ng-controller="mtChipsContactChipDemoCtrl as ctrl" layout="column" style="clear:both;display:block">

          <md-contact-chips
            ng-model="ctrl.contacts"
            md-contacts="ctrl.querySearch($query)"
            md-contact-name="name"
            md-contact-image="image"
            md-contact-email="email"
            md-require-match="true"
            md-highlight-flags="i"
            filter-selected="ctrl.filterSelected"
            placeholder="Type here to select">
          </md-contact-chips>
          <md-list class="fixedRows">
            <md-subheader class="md-no-sticky">Search Candidates</md-subheader>
            <md-list-item class="md-2-line contact-item" ng-repeat="(index, contact) in ctrl.allContacts"
                          ng-if="ctrl.contacts.indexOf(contact) < 0">
              <img ng-src="{{contact.image}}" class="md-avatar" alt="{{contact.name}}" />
              <div class="md-list-item-text compact">
                <h3>{{contact.name}}</h3>
                <p>{{contact.email}}</p>
              </div>
            </md-list-item>
            <md-list-item class="md-2-line contact-item selected" ng-repeat="(index, contact) in ctrl.contacts">
              <img ng-src="{{contact.image}}" class="md-avatar" alt="{{contact.name}}" />
              <div class="md-list-item-text compact">
                <h3>{{contact.name}}</h3>
                <p>{{contact.email}}</p>
              </div>
            </md-list-item>
          </md-list>

        </md-content>
<div class="form-group" style="padding-right: 15px; ">
			   <button type="button" class="btn btn-primary btn-xs mt-20 mb-20" style="float:right;    background:#34495E">Submit</button>
                      

                    </div>
      </section>

      

      

    </div>


  </div>
  <!-- /page content -->




</div>
