<div class="page page-material">




  <!-- page header -->
  <div class="pageheader">

    <h2>{{page.title}} <span>// {{page.subtitle}}</span></h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a href="javascript:;">Material UI</a>
        </li>
        <li>
          <a ui-sref="app.material.cards">{{page.title}}</a>
        </li>
      </ul>

    </div>

  </div>
  <!-- /page header -->


  <!-- page content -->
  <div class="pagecontent">


    <!-- row -->
    <div class="row">


      <!-- col --> 
      <div class="col-md-12">

        <!-- tile -->
        
        <!-- /tile -->
<section class="tile" fullscreen="isFullscreen01">
		
		<div class="tile-body">


                    
            <form class="form-horizontal" role="form"> 
			<div class="col-xs-12 col-sm-6 col-md-11" style="padding-left:0px">
			<h2 class="md-title" style="margin-bottom:20px">Job Details</h2></div>
              <div class="col-xs-12 col-sm-6 col-md-1"> <center><img src="images/code.png"> </center><h6 style="text-align:center">QR Code</h6></div>
              <div class="form-group">
              <div class="col-sm-12">
                
               
                  <input type="email" class="form-control" id="inputEmail3" placeholder="Job Title*">
                 
                
              </div></div>
              <div class="form-group">
			  <div class="col-sm-12">
                 <select name="" class="form-control" required>
                    <option>Skills*</option>
                    <option>Jan</option>
				  <option>Feb</option>
				  <option>March</option>
				  <option>April</option>
                  </select>
				  <md-content class="md-padding chipsdemoBasicUsage " ng-controller="mtChipsBasicDemoCtrl as ctrl" style="padding-left:0px;padding-right:0px">
                  <md-chips
            ng-model="ctrl.tags"
            readonly="ctrl.readonly"
            placeholder="Enter a Skill"
            delete-button-label="Remove Tag"
            delete-hint="Press delete to remove tag"
            secondary-placeholder="Add" style=""></md-chips>
			
			</md-content>
                </div>
              </div>
               <div class="form-group">
              <div class="col-sm-12">
                 
                  <div class="col-sm-12" style="border:1px solid #ccc;padding: 0px;">
					 <text-angular ng-model="htmlVariable"><label>Job Description*</label></text-angular>
				
				  
                
              
              </div>
              </div> 
			  
              </div>
               
			  
            
 
			<h2 class="md-title" style="margin-top: 42px;margin-bottom:20px"> Location</h2>
              <div class="form-group">
              <div class="col-sm-6">
                
               
                  <input type="email" class="form-control" id="inputEmail3" placeholder="Job City*">
                 
                
              </div>
			  
			  <div class="col-sm-6 comp">
                 <select name="" class="form-control" required>
                    <option>State*</option>
                    <option>Jan</option>
				  <option>Feb</option>
				  <option>March</option>
				  <option>April</option>
                  </select>
                  
                
                </div>
			  
			  </div>
              <div class="form-group">
			  
				<div class="col-sm-6">
                 <select name="" class="form-control mb-10" required>
                    <option>Country*</option>
                    <option>Jan</option>
				  <option>Feb</option>
				  <option>March</option>
				  <option>April</option>
                  </select>
                  
                </div>
				<div class="col-sm-6 comp">
                
               
                  <input type="email" class="form-control" id="inputEmail3" placeholder="Zip Code*">
                 
                
              </div>
              </div>
			  
			  
			  <h2 class="md-title" style="margin-top: 42px;margin-bottom:20px"> Checkout</h2>
              <div class="form-group">
               <div class="col-sm-6"><label>Number of Jobs</label>
						 
					 
			  
			  
                 <select name="" class="form-control" required>
                    <option>1 job @ $23</option>
                    <option>1 job @ $23</option>
                    <option>1 job @ $23</option>
                    <option>1 job @ $23</option>
                    <option>1 job @ $23</option>
                     
                  </select>
                  
                
                </div>
			  
			  </div>
			  
			  
			  
			  
			  
			  
			  
                
               <div class="form-group" style="padding-right: 15px;">
			   <button type="button" class="btn btn-primary btn-xs" style="float:right;    background:#34495E">Continue</button>
                      <md-content class="md-padding" id="popupContainer"><md-button class="md-primary md-raised" ng-click="showAdvanced($event)" flex flex-md="100">
              Preview
            </md-button>
<script type="text/ng-template" id="dialog1.tmpl.html">
            <md-dialog aria-label="Mango (Fruit)">
              <form>
                <md-toolbar>
                  <div class="md-toolbar-tools">
                    <h2>Mango (Fruit)</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="answer('not applicable')">
                      <md-icon md-font-icon="zmdi zmdi-close" aria-label="Close dialog"></md-icon>
                    </md-button>
                  </div>
                </md-toolbar>
                <md-dialog-content style="max-width:800px;max-height:810px; ">
                  <div>
                    <p>
                      The mango is a juicy stone fruit belonging to the genus Mangifera, consisting of numerous tropical fruiting trees, cultivated mostly for edible fruit. The majority of these species are found in nature as wild mangoes. They all belong to the flowering plant family Anacardiaceae. The mango is native to South and Southeast Asia, from where it has been distributed worldwide to become one of the most cultivated fruits in the tropics.
                    </p>
                    <img style="margin: auto; max-width: 100%;" alt="Lush mango tree" src="https://material.angularjs.org/latest/img/mangues.jpg">
                    <p>
                      The highest concentration of Mangifera genus is in the western part of Malesia (Sumatra, Java and Borneo) and in Burma and India. While other Mangifera species (e.g. horse mango, M. foetida) are also grown on a more localized basis, Mangifera indica&mdash;the "common mango" or "Indian mango"&mdash;is the only mango tree commonly cultivated in many tropical and subtropical regions.
                    </p>
                    <p>
                      It originated in Indian subcontinent (present day India and Pakistan) and Burma. It is the national fruit of India, Pakistan, and the Philippines, and the national tree of Bangladesh. In several cultures, its fruit and leaves are ritually used as floral decorations at weddings, public celebrations, and religious ceremonies.
                    </p>
                  </div>
                </md-dialog-content>
                 <div class="md-actions" layout="row">
                  <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" hide show-md>
                    More on Wikipedia
                  </md-button>
                  <span flex></span>
                  <md-button ng-click="answer('not useful')">
                    Not Useful
                  </md-button>
                  <md-button ng-click="answer('useful')" style="margin-right:20px;">
                    Useful
                  </md-button>
                </div>
              </form>
            </md-dialog>
          </script>
		  </md-content>
                    </div>
			  
            </form>
			
			
			
			
			
			
			
			
          </div>
		 
		
		
		</section>
	
		
		
		
		
		
		
		
		
		
      </div>
      <!-- /col -->











    </div>
    <!-- /row -->



  </div>
  <!-- /page content -->




</div>
