<div class="page page-material">




  <!-- page header -->
  <div class="pageheader">

    <h2>{{page.title}} <span>// {{page.subtitle}}</span></h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a href="javascript:;">Material UI</a>
        </li>
        <li>
          <a ui-sref="app.material.cards">{{page.title}}</a>
        </li>
      </ul>

    </div>

  </div>
  <!-- /page header -->


  <!-- page content -->
  <div class="pagecontent">


    <!-- row -->
    <div class="row">


      <!-- col --> 
      <div class="col-md-12">

        <!-- tile -->
        
        <!-- /tile -->
<section class="tile" fullscreen="isFullscreen01">
		
		<div class="tile-body">


                    
            <form class="form-horizontal" role="form"> 
			<h2 class="md-title" style="margin-bottom:20px">Job Details</h2>
              <div class="form-group">
              <div class="col-sm-12">
                
               
                  <input type="email" class="form-control" id="inputEmail3" placeholder="Job Title*">
                 
                
              </div></div>
              <div class="form-group">
			  <div class="col-sm-12">
                 <select name="" class="form-control" required>
                    <option>Skills*</option>
                    <option>Jan</option>
				  <option>Feb</option>
				  <option>March</option>
				  <option>April</option>
                  </select>
				  <md-content class="md-padding chipsdemoBasicUsage " ng-controller="mtChipsBasicDemoCtrl as ctrl" style="padding-left:0px;padding-right:0px">
                  <md-chips
            ng-model="ctrl.tags"
            readonly="ctrl.readonly"
            placeholder="Enter a Skill"
            delete-button-label="Remove Tag"
            delete-hint="Press delete to remove tag"
            secondary-placeholder="Add" style=""></md-chips>
			
			</md-content>
                </div>
              </div>
               <div class="form-group">
              <div class="col-sm-12">
                 
                  <div class="col-sm-12" style="border:1px solid #ccc;padding: 0px;">
					 <text-angular ng-model="htmlVariable"><label>Job Description*</label></text-angular>
				
				  
                
              
              </div>
              </div> 
			  
              </div>
               
			  
            
 
			<h2 class="md-title" style="margin-top: 42px;margin-bottom:20px"> Location</h2>
              <div class="form-group">
              <div class="col-sm-6">
                
               
                  <input type="email" class="form-control" id="inputEmail3" placeholder="Job City*">
                 
                
              </div>
			  
			  <div class="col-sm-6 comp">
                 <select name="" class="form-control" required>
                    <option>State*</option>
                    <option>Jan</option>
				  <option>Feb</option>
				  <option>March</option>
				  <option>April</option>
                  </select>
                  
                
                </div>
			  
			  </div>
              <div class="form-group">
			  
				<div class="col-sm-6">
                 <select name="" class="form-control mb-10" required>
                    <option>Country*</option>
                    <option>Jan</option>
				  <option>Feb</option>
				  <option>March</option>
				  <option>April</option>
                  </select>
                  
                </div>
				<div class="col-sm-6 comp">
                
               
                  <input type="email" class="form-control" id="inputEmail3" placeholder="Zip Code*">
                 
                
              </div>
              </div>
			  
			  
			  <h2 class="md-title" style="margin-top: 42px;margin-bottom:20px"> Checkout</h2>
              <div class="form-group">
               <div class="col-sm-6"><label>Number of Jobs</label>
						 
					 
			  
			  
                 <select name="" class="form-control" required>
                    <option>1 job @ $23</option>
                    <option>1 job @ $23</option>
                    <option>1 job @ $23</option>
                    <option>1 job @ $23</option>
                    <option>1 job @ $23</option>
                     
                  </select>
                  
                
                </div>
			  
			  </div>
			  
			  
			  
			  
			  
			  
			  
                
               <div class="form-group" style="padding-right: 15px;">
			   <button type="button" class="btn btn-primary btn-xs" style="float:right;    background:#34495E">Continue</button>
                      

                    </div>
			  
            </form>
			
			
			
			
			
			
			
			
          </div>
		 
		
		
		</section>
	
		
		
		
		
		
		
		
		
		
      </div>
      <!-- /col -->











    </div>
    <!-- /row -->



  </div>
  <!-- /page content -->




</div>
